*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: "Karla", sans-serif;
    overflow: hidden;
}
main{
    height: 100vh;
}
.flex-centre{
    display:flex;
    align-items: center;
}
.custom-scrollBar{
    overflow: scroll;
}
.custom-scrollBar::-webkit-scrollbar{
    height: 8px;
    width: 15px;
}
.custom-scrollBar::-webkit-scrollbar-thumb{
    background-color: gray;
    display: none;
}
.custom-scrollBar::-webkit-scrollbar-thumb:hover{
    display: block;
}
nav{
    height: 65px;
}
nav img{
    height: 65px;
    width: 65px;
    margin-left: 20px;
}
section{
    height: 550px;
}
.playlist-container{
    width: 300px;
    background-color:#212529;
}
.song-list-container{
    width: 810px;
    background-color: #212529;
}
.song-player-box{
    width: 400px;
    background-color: #212529;
}
#player{
    height: 110px;
    width: 100%;
    background-color: black;
    position: fixed;
}
main .flex-centre{
    justify-content: space-between;
}
.playlist-container .head{
    display: flex;
    padding:15px;
}
p{
    color: #FFFFFF;
    font-weight: 700;
    font-size:1.2rem;
}
.head i{
    font-size: small;
    color:gray;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head i:hover{
    transition: all 0.2s;
    background-color: #343a40;
    color:whitesmoke;
}
.btn-box{
    display: flex;
    padding: 8px;
}
.btn-box button{
    all: unset;
    padding: 5px 15px 5px 15px;
    border-radius: 18px;
    background-color: #343a40;
    cursor: pointer;
}
button p{
    font-weight: 500;
    font-size: 15px;
}
#artist{
    margin-left: 8px;
}
.btn-box button:hover{
    transition: all 0.2s;
    background-color: #43484d;
}
/* playlist song container */
.PA-box{
    display: flex;
    flex-wrap: wrap;
    height:460px;
}

/* playlist song */
.P{
    height: 70px;
    width: 280px;
    margin-top: 10px;
    display: flex;
    border-radius: 8px;
}
.P:hover{
    transition: all 0.2s;
    background-color: #343a40;
}
.P p{
    font-size: 1rem;
}
.P p:hover{
    transition: all 0.1s;
    text-decoration: underline;
    cursor: pointer;
}
.artist-name{
    font-size: 0.8rem;
    margin-top: 2px;
    color:#adb5bd;
}
.P div{
    margin-top: 9px;
    margin-left: 13px;
}
/* playlist images */
.P img{
    height: 70px;
    width: 70px;
    border-radius: 7px;
}
#artist-box{
    display: none;
}
#artist-box .P img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#artist-box .P{
    margin-top: 0px;
    align-items: center;
}
#artist-box p{
    margin-left: 10px;
}
#box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#box div{
    margin-left: 20px;
}
.A {
    width: 200px;
    text-align: center;
}
.A p{
    
    margin-top: 5px;
    margin-left: 6px;
}
.A img{
    border-radius: 50%;
}
.song-list{
    height: 100%;
    width: 100%;
}
.header{
    height: 200px;
    width: 100%;
    display: flex;
    background-color: #43484d;
    align-items: center;
}
.header img{
    height: 180px;
    width: 180px;
    margin-left: 20px;
}
h1{
    color: #FFFFFF;
    font-size: 5rem;
    margin-left: 20px;
}
ol{
    margin-left: 20px;
}
li{
    transition: all 0.1s;
    height: 40px;
    width: 90%;
    margin-top: 10px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
li h5{
    color: #FFFFFF;
    font-size: large;
    font-weight: 500;
}
li:hover{
    transition: all 0.2s;
    background-color: #43484d;
    .fa-play{
        display: block;
    }
    
}
li .fa-play{
    display: none;
    margin: 3px 5px 0px 0px;
    color: #FFFFFF;
    cursor: pointer;
}
.playBtn{
    all:unset;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #1DB954;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px 0px 30px 30px;
}
.playBtn i{
    font-size: x-large;
}
.song-list span{
    display: inline-block;
    background-color: #43484d;
    height: 1px;
    width: 90%;
    margin-left: 30px;
}
.song-list p{
    color:#adb5bd;
    font-weight: 600;
    font-size:large;
    margin-left: 30px;
}
/* Bottom player designing */
#player{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.song-details-smallbox{
    height: 80px;
    width: 160px;
    display: flex;
    align-items: center;
}
.song-details-smallbox img{
    height: 65px;
    width: 65px;
    border-radius: 5px;
}
.song-details-smallbox .song-name{
    font-size: 1rem;
    margin-left: 10px;
}
.song-details-smallbox .artist{
    margin-left: 10px;
}
/* playing-stuff styling */
.play{
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    margin-right: 3px;
    
}
.play .fa-solid{
    color: black;
    font-size:1rem;
    margin:2.5px 0px 0px 1px;
}
.playing-btns{
    position: relative;
}
.playing-btns div{
    display: flex;
}
.playing-btns i{
    color: #adb5bd;
    cursor: pointer;
}
.fa-forward{
    font-size:1rem;
    margin-left: 20px;
}
.fa-backward{
    font-size: 1rem;
    margin-left: 4px;
}
.playing-btns span{
    color: #adb5bd;
}
#play-btn-div{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 180px;
    margin-top: 19px;
}
input[type="range"]{
    width: 460px;
    border-radius: 10px;
    margin: 80px 9px 3px 9px;
}

#faltubtns{
    width: 300px;
    display: flex;
}
#faltubtns i{
    color: #adb5bd;
    
}

#cover video{
    transition: all 0.2s;
    height: 100%;
    width: 100%;
    filter: brightness(35%);
    position: sticky;
};
#cover{
height: 500px;
width: 550px;


}
#cover img{
    transition: all 0.1s;
    height: 400px;
    width: 400px;
}
#gif{
    transition: all 0.1s;
    position:absolute;
    height: 150px;
    width: 150px;
    border-radius: 90%;
    clip-path: inset(60px);
    margin-left: 100px;
   display: none;
}
#playBoxSong{
    position: absolute;
  top: 70%;
   z-index: 1;
   font-size: 2rem;
   margin-left: 20px;
}
#playBoxArtist{
    position: absolute;
    top: 74%;
     z-index: 1;
     font-size: 1.3rem;
     margin-left: 20px;
}
#box{
    animation: fade ease-in 0.2s;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.SM-songs-list{
    display: none;
    
    animation: fade ease-in 0.2s;
}
.NF-songs-list{
    display: none;
    animation: fade ease-in 0.2s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}