*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
}
.container input{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
}
.container-fluid{
    height: 100%;
    width: 100%;
    background-color: #00072d;
}
header{
    height: 90px;
    width: 100%;
    color: #f4f4ed;
    background-color:  #001c55; 
}
nav{
    height: 90px;
    display: flex;
    align-items: center;
}
nav img{
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
a{
    color:#f4f4ed;
    text-decoration: none;
}
li{
    margin-left: 50px;
    list-style-type: none;
}
ul{
    display: flex;  
    margin-right: 200px;
    margin-left: 150px;
}
.drop-down{
    transition: all 1s;
    height: 300px;
    width: 280px;
    background-color: #98c1d9;
    position: absolute;
    margin-left: 210px;
    border-radius: 4px;
    bottom: 50%;
    display: none;
    
}
#Product-drop-down{
    margin-left: 350px;
}
.drop-down p{
    font-size: small;
}
.fa-angle-down{
    color:#f4f4ed;
    margin: 8px 0px 0px 8px;
    font-size: smaller;
    cursor: pointer;
}
main{
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#TotalMoney{
    height: 200px;
    width: 200px;
    background-color: #f4f4ed;
    border-radius: 30%;
    font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
#TotalMoney p{
font-size: x-large;
}
#record-box{
    margin-top: 14px;
    height: 380px;
    width: 870px;
    display: flex;
}
.records{
    height: 100%;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.details-box{
    transition: all 1s;
    height: 48px;
    width: 97%;
    display: flex;
    justify-content: space-between;
    padding: 4px 9px 0px 9px;
    border-radius: 5px;
    color: white;
}
.details-box h6{
    font-weight: bolder;
    font-size: 1rem;
}
main .btn{
    position: absolute;
    bottom: 57%;
}
.btn-danger{
    left: 22%;
}
.btn-success{
    right: 22%;
}
.box{
    transition: all 1s;
    position: absolute;
    width: 300px;
    left: 1%;
    margin-bottom: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}
.box input{
    height: 40px;
    width: 250px;
    margin-bottom: 2px;
    border-radius: 10px;
    padding: 10px;
}

.box button{
    position: relative;
    width: 250px;
}
#Profit-input-box{
    left: 80%;
   
}
